* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color:#d7d6dc;
}
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
.navbar ul{
	list-style: none;
	background: #663366;
	padding: 0;
	margin: 0;
	text-align: center;
}
.navbar li{
	display: inline-block;
}
.navbar a{
	text-decoration: none;
	color:#fff;
	width:100px;
	display: block;
	padding: 25px 20px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.navbar a:hover{
	background: blue;
}
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
h1 {
	color:#B8B8B8;
	text-align:center;
	font-size:40px;
	font-family:"Verdana", "Arial", sans-serif;
}
h2 {
	color:#B8B8B8;
	text-align:center;
	font-size:30px;
	font-family:"Verdana", "Arial", sans-serif;
}
p {
	color:black;
	text-align:left;
	font-size:15px;
	font-family:"Verdana", "Arial", sans-serif;
	margin: 25px 25px 25px 25px;
}
