body {
	background-color: #747474;
	
}
header {
	background-color: black;
	padding: 10px;
	text-align: center;
	font-size: 60px;
	color: white;
}
.important {
	background-color: black;
}
nav {
	text-aligned: center;
	background-color: white;
	padding: 20px
}
h1 {
	color: #FF652F;
	text-align:center;
	font-size:40px;
	font-family:"Verdana", "Arial", sans-serif;
}
h2 {
	color: #FF652F;
	text-align:center;
	font-size:40px;
	font-family:"Verdana", "Arial", sans-serif;
}
p {
	color: white;
	text-align:left;
	font-size:20px;
	font-family:"Verdana", "Arial", sans-serif;
	margin: 25px 25px 25px 25px;
}
footer {
	background-color: black;
	padding: 10px;
	text-aligned: center;
	color: white;
}

